

body {
  margin: 0px;
  padding: 0px;
  min-width: 496px;
  background: -moz-linear-gradient(70deg,lightgray 0%, white 100%);
  background: -webkit-linear-gradient(70deg,lightgray 0%, white 100%);
  background: linear-gradient(70deg,lightgray 0%, white 100%);
  height: 100%;
  font-family: 'Squad',sans-serif;

}

@@font-face {
  font-family: 'Squad';
  src: url(Squad-Regular.otf);
}

header {
  height: 15vh;
  width: 100%;
  max-height: 90px;
  min-height: 48px;
  position: fixed;
  padding: 0px;
  z-index: 200;
}



div.nav {
  background: -moz-linear-gradient(140deg,#00CC66 0%, #009966 100%);
  background: -webkit-linear-gradient(140deg,#00CC66 0%, #009966 100%);
  background: linear-gradient(140deg,#00CC66 0%, #009966 100%);

  border: 1px solid transparent;

    /* dropshadow CSS */
    -webkit-box-shadow: 0px 5px 22px 0px rgba(51,51,51,0.2);
    -moz-box-shadow: 0px 5px 22px 0px rgba(51,51,51,0.2);
    box-shadow: 0px 5px 22px 0px rgba(51,51,51,0.2);

  height: 100%;
  margin: 0px;
  padding: 0px;
  opacity: 0.98;

}


ul#navlinks {
  float: right;
  list-style: none;
  padding-top: 0px;
  padding-right: 4%;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  max-height: 200px;
}

li.navitems {
  display: inline-block;
  margin-left: 30px;
  padding-top: 5.45vh;
  position: relative;
  height: 100%;
  max-height: 200px;


}

nav ul li a {
  text-decoration: none;
  color: #000;
  padding: 0 1.3vw;
  font-size: 85%;
  max-width: 50px;
  height: 100%;

}

nav ul li a:hover {
  color: white;
}

nav ul li a::before {
  content: '';
  display: block;
  height: 3px;
  width: 0%;
  background-color: white;
  position: absolute;
  top: -1px;
  transition: all ease-in-out 200ms;

}

nav ul li a:hover::before {
  width: 100%;
}

 .logo {
   width: auto;
   height: 82%;
   min-height: 44px;
   max-height: 70px;

   float: left;
   padding-top: 1.6vh;
   padding-left: 4%;
 }

 img.spider-web {
   width: 100%;
   height: auto;
   margin: 0vh 0px 0px 0px;
   padding: 0px;
 }

 img.in-div {
   flex: 1;
   margin-top: auto;
   margin-bottom: auto;
   vertical-align: middle;
   width: 200px;
   height: 200px;
   min-width: 200px;
   max-width: 200px;
   min-height: 200px;
   max-height: 200px;
   border-radius: 400px;
   margin-left: 20px;
   margin-right: 20px;
   position: relative;
   align-items: center;

   -webkit-box-shadow: 0px 5px 22px 0px rgba(51,51,51,0.2);
   -moz-box-shadow: 0px 5px 22px 0px rgba(51,51,51,0.2);
   box-shadow: 0px 5px 22px 0px rgba(51,51,51,0.2);


 }



 div.body {
   display: flex;
   flex-wrap: wrap;
   background: white;
   height: auto;
   margin-left: 4%;
   margin-right: 4%;
   margin-top: 2%;
   border-radius: 20px;
   box-sizing: border-box;

   padding-left: 3%;
   padding-right: 3%;
   padding-top: 15px;
   padding-bottom: 20px;

   /* dropshadow CSS */
   -webkit-box-shadow: 0px 5px 22px 0px rgba(51,51,51,0.2);
   -moz-box-shadow: 0px 5px 22px 0px rgba(51,51,51,0.2);
   box-shadow: 0px 5px 22px 0px rgba(51,51,51,0.2);


 }


 h1 {
   font-size: 150%;
   text-align: center;
   letter-spacing: 1.5px;
   margin: 0px;
   border-bottom: solid 1px #00cc66;
   color: black;
   display: inline;
   position: absolute;
   width: 85%;
   min-width: 420px;

 }

 h1.gallery-head {
   width: 92%;
   font-size: 150%;
   position: absolute;
   margin-top: 20px;
   margin-left: 4%;
   z-index: 2;
   color: white;
   min-width: 0px;
   text-shadow: 2px 2px 20px black;
   text-transform: none;


 }





p.body-copy {
  font-size: 14px;
  text-align: center;
  color: black;
  line-height: 22px;
  flex: 3;
  margin-top: 50px;
  min-width: 24rem;
  padding-right: 30px;
  padding-left: 30px;
}

table {
  width: 100%;
  position: absolute;
  z-index: 2;
  margin-top: 60px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 6%;
  padding-right: 6%;

}


td {
  color: white;
  font-size: 110%;
  line-height: 0.95;
  text-align: left;
  text-shadow: 2px 2px 20px black;
  text-transform: small-caps;


}
                      /*

                          RULES FOR GALLERY

                          */

.container {
	width: 92%;
	margin-left: 4%;
  margin-right: 4%;
  margin-top: 2%;
  z-index: 1;

}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
  margin: 0px;
	/* Compensate for excess margin on outer gallery flex items */


}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */

	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 2vh 1vw;
  -webkit-box-shadow: 0px 5px 22px 0px rgba(51,51,51,0.2);
  -moz-box-shadow: 0px 5px 22px 0px rgba(51,51,51,0.2);
  box-shadow: 0px 5px 22px 0px rgba(51,51,51,0.2);
	overflow: hidden;
  border-radius: 30px;
  position: relative;
  justify-content: center;
  height: 300px;
  transition: transform 1000ms ease-in-out;
  flex: 1;
  opacity: 0.9;
  min-width: 300px;

}

.gallery-item:hover  {
	transform: scale(1.05);
  opacity:1;
  flex: 2;
  width: 100%;


}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
  border-radius: 30px;
	object-fit: cover;
	transition: transform 500ms ease-in-out;
  z-index: 1;
  opacity: 1;

}

.gallery-image:hover {
  transform: scale(1.15);
  webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
}

footer {
  width: 100%;
  margin-top: 300px;
  padding-left: auto;
  padding-right: auto;
}





The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling.

*/

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}
